services:
  nginx:
    image: nginx:alpine
    container_name: mulmul-nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - be
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./fe:/usr/share/nginx/html:ro

  be:
    image: docker.io/${DOCKERHUB_USERNAME}/mulmul-be:${IMAGE_TAG}
    container_name: mulmul-be
    restart: always
    env_file:
      - ./.env
    expose:
      - "8080"
