version: "3.8"

services:
  backend:
    container_name: barter-be
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/barter
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      KAKAO_CLIENT_ID: 44d0419357b46480fae128f43be53efd
      KAKAO_CLIENT_SECRET: VDerKJUpjkjz1TIt6jqR1XTOZ6e7d5WR
      # 아래 줄을 추가했습니다. (최소 32자 이상)
      JWT_SECRET: "barter-exchange-project-secret-key-64-chars-long-for-security-reasons-1234"
      KAKAO_REDIRECT_URI: "http://localhost:8080/api/auth/kakao/callback" # 필요시 추가
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: barter-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: barter
    ports:
      - "5432:5432"