name: be-ci

on:
  push:
    branches: ["main"]

jobs:
  test_build_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew build -x test --no-daemon

      - name: Set build tags
        id: tags
        run: |
          echo "SHA_TAG=${GITHUB_SHA}" >> $GITHUB_OUTPUT
          echo "DATE_TAG=$(TZ=Asia/Seoul date +%Y%m%d-%H%M)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push (sha + date)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/mulmul-be:${{ steps.tags.outputs.SHA_TAG }}
            ${{ secrets.DOCKERHUB_USERNAME }}/mulmul-be:${{ steps.tags.outputs.DATE_TAG }}
